<h1>Book Nook</h1>

<h2>Login</h2>

<form action="/login" method="post">
  Enter Username: <input type=text name="username" >
  Enter Password: <input type=password name="password" > 
<input type=submit value="Login" >
</form>