<h1><%= @user.username %>'s Reviews</h1>

<h2>You have <%= @user.reviews.size %> Book(s) logged!</h2>

<h3>Review(s):</h3>
  <% @user.reviews.each do |review| %>
    <h4><a href="/review/<%= review.id %>"> <%= review.title %></h4></a>
  <% end %>

<br>

<h2>Add a new Review!</h2>


<form action="/reviews" method="post">
Title of Book: <input type=text name="title" >
Author: <input type=text name="author" >
<div>
<br>
Comments:  
<textarea rows = "5" cols = "50" name = "comments">
Your thoughts on the book...
</textarea>
<br>
<input type="submit" value="Submit Review" >
<br>
</form>