<h1>Book Nook</h1>

<h2>Create a new account</h2>

<form action="/signup" method="post">
  Enter name: <input type=text name="name" >
  Enter Username: <input type=text name="username" >
  Enter Email: <input type=email name="email" > 
  Enter Password: <input type=password name="password" > 
  
  <input type=submit value="Create Account" >
</form>