<h1>Book Nook</h1>

<form action="/books" method="post">
    Title: <input type="text" name="title">
    Comments: <textarea name="comments"></textarea>
    <input type="submit" value="Create a New Review">
</form>