<h1>Book Nook</h1>

<h2><%= @book.title %></h2>
<h4><a href="<%=@user.id%>/edit">Edit your profile</h4></a>
<br>
<br>

<h3>Reviews:</h3>
  <% @book.reviews.each do |review| %>
    <h4><%= review.user.username %></h4>
<br>
    <input type="submit" value="Add a Review" >
<br>
  <% end %>