<h1>Book Nook</h1>



<br>
<br>

<h2><%= @book.title %></h2>

<h3>Reviews:</h3>
  <% @book.reviews.each do |review| %>
    <h4><%= review.user.username %></h4>
<br>
    <input type="submit" value="Add a Review" >
<br>
  <% end %>