<h1>Book Nook</h1> 

<h2>Edit your Book review:</h2> 

<form action="/reviews/<%= @review.id %>" method= "post"> 
    <input type="hidden" name="_method" value="patch"> 

Title of Book: <input type=text name="title" value="<%= @review.title %>">
Author: <input type=text name="author" >
<div>
<br>
Comments:  
<textarea rows = "5" cols = "50" name = "comments">
Your thoughts on the book...
</textarea>
<br>
<input type="submit" value="Edit Review" >
<br>
</form>