<h1>Book Nook</h1>


<div>
  <br>
  <p>Title of Book: <%= @review.title %></p>
  <br>
  <p>Author: <%= @review.author %></p>
  <br> 
  <p>Comments: <%= @review.comments %></p>
  <br>

  <a href="/reviews/:id"><button>Edit Review</button></a> 

  <a href="/reviews/:id/delete"><button>Delete Review</button></a>
</div>

