<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href="/stylesheets/main.css" /> -->
    <title>Book Nook</title>
  </head>
  <body>
    <h1>Welcome to Book Nook!</h1> 
    <h2>A place to log and review your reading adventures.</h2>
    <h3>Keep track of the books you have read and dicover what fellow Book Nook members have been loving!</h3>

  <h3><a href="/users/signup">Sign up</a><div><a href="/users/login">Log in</a></h3>
